@charset "UTF-8";

/* 全体 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    background-color: #000000;
    font-family: "Kokoro",'Alegreya Sans SC', sans-serif;

}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #282828;
}


#logo {
    color: white;
    font-size: 25px;
}


.nav_links {
    display: flex;
    justify-content: space-around;
    width: 38%;
    transition: all 0.2s ease-in-out;
}


.nav_links li {
    list-style: none;
}



.nav_links a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}


div.list {
    color: #c1ddc9;
}


.burger {
    border-radius: 5px;
    background-color: #c1ddc9;
    display: none;
    cursor: pointer;
}


.burger div {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 5px;
    transition: all 0.3s ease-in-out;
}


@media screen and (max-width: 1024px) {
    /* タブレット */
    .nav_links {
        width: 55%;
    }
    nav {
        min-height: 12vh;
    }

    p.box {
        margin-left: 15%;
        width: 70%;
        padding: 15px;
    }

    body section{
        margin-left: 15%;
        width: 70%;
        padding: 15px;
    }

}


.nav-active {
    transform: translateX(0%) !important;


}


@media screen and (max-width: 768px) {
    /* スマホ */

    p.box {
        margin-left: 5%;
        padding: 15px;
        width: 90%;
    }
    body {
        overflow-x: hidden;
    }
    .nav_links {
        position: absolute;
        right: 0;
        height: 88vh;
        top: 12vh;
        background-color: #282828;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
    }


    .nav_links li {
        opacity: 0;

    }
    .burger {
        display: block;
    }

    body section{
        margin-left: 5%;
        padding: 15px;
        width: 90%;
    }


}


@keyframes navLinksFade {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}


.toggle .line1{
    transform: rotate(-405deg) translate(-5px, 6px);
}


.toggle .line2{
    opacity: 0;
}


.toggle .line3{
    transform: rotate(405deg) translate(-5px, -6px);
}



section {
    height:  auto;
}


.return_top {
    background-color: white;
    color: black;
    font-size: 27px;
    text-decoration: none;
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    border: solid thin;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    transform: rotate(-90deg);
    transition: all 0.3s ease;

}

.box {
    color: azure;
    border:3px;
    border-radius: 0.5%;
    border-color: #2f2f2f;
    border-style: solid;
    background-color: #191919;
    margin-left: 20%;
    padding: 2%;
    width: 60%;
    height: 30vh;
    /* なぜかわからんけどできた */

    word-break: break-all;
    overflow-x:hidden;
    /* Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;

}
/* Chrome・Safari */
.box::-webkit-scrollbar{
    display:none;
}



section {
    color: azure;
    margin-left: 20%;
    padding: 2%;
    background-color: #191919;
    width: 60%;
    border-right-width: 3px;
    border-right-color: #2f2f2f;
    border-right-style: solid;
    border-left-width: 3px;
    border-left-color: #2f2f2f;
    border-left-style: solid;
    border-top-width: 3px;
    border-top-color: #2f2f2f;
    border-top-style: solid;
    border-bottom-color: #2f2f2f;
    border-bottom-width:3px ;
    border-bottom-style: solid;

}
